// Colors
$default-color: #555 !default;
$default-shade: #353535 !default;
$default-tint: #aaa !default;
$grey-1: #979797 !default;
$grey-2: #e5e5e5 !default;
$grey-3: #f9f9f9 !default;
$white: #fff !default;
$blue: #4a9ae1 !default;
$shadow-color: rgba(0, 0, 0, .2) !default;
$code-color: #bf616a !default;
$body-bg: #fff;


// Colors
$default-color-dark: #98a0ac;
$default-shade-dark: #353535;
$default-tint-dark: #aaa;
$shadow-color-dark: rgba(255, 255, 255, .2);
$code-color-dark: #db1400;
$body-bg-dark: #0F1216;


// Fonts
$serif-primary: 'Libre Baskerville', 'Times New Roman', Times, serif !default;
$serif-secondary: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif !default;
$sans-serif: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif !default;
$monospaced: Menlo, Monaco, monospace !default;

//length variables for responsive design 
//only used in tags.scss for the time being. Todo: standardize useage of sizes across the theme
$on-phone: 450px;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}