<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% seo %}

  <!-- Search -->
  <link rel="stylesheet" href="{{ "pagefind/pagefind-ui.css" | relative_url }}">
  <script src="{{ "pagefind/pagefind-ui.js" | relative_url }}" type="text/javascript"></script>
  <script src="{{ "assets/js/pagefind.js" | relative_url }}" type="text/javascript"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap">
  <link rel="stylesheet" href="{{ "/assets/css/syntax-default.css" | relative_url }}" media="(prefers-color-scheme: light)">
  <link rel="stylesheet" href="{{ "/assets/css/syntax-monokai.css" | relative_url }}" media="(prefers-color-scheme: dark)">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />
  <link rel="manifest" href="/assets/favicon/site.webmanifest" />

  <!-- RSS -->
  {% feed_meta %}

</head>
